body{
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: coral;
}
.one-third{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 3%;
    padding-top: 5%;
    text-align: justify;
}
.one-third img{
    width: 100%;
}
.hire_button{
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(45deg, rgb(4, 89, 245), rgb(2, 0, 122));
    padding: 10px 20px;
    border-radius: 5px;
    color: white    ;
    font-weight: bold;
}

.cv_button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(193, 245, 4), rgb(1, 83, 26));
    padding: 10px 20px;
    border-radius: 5px;
    color: white    ;
    font-weight: bold;
  }
.work{
    width: 100%;
    float: left ;
    text-align: center;
    padding-top: 5%;
}
.third{
    width: 25%;
    float: left;
    margin-left: 4%;
    padding-left: 3%;
    padding-top: 10px;
    background-color: white;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 430px ;
    

  }
  .third img{
    width: 90%;
    border-radius: 10px;
    background-color: thistle;
    border: 5px;
    padding: 5px;
    

  }
  .white{
      background-image: url("images/grey.jpg");
  }
  .inquiry img{
                width: 60%;
                padding-top: 100px;
                display:block;
                margin-left: auto;
                margin-right: auto;
                position: relative;

  }


  .icon {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
  }
 .icon img {

    width: 50px;
    vertical-align: middle;
  }
 .last{
     padding-top: 50px;
     text-align: center;
 }

 #gray{
     color: gray;
 }
 #mail{
     color: blue;
 }
.inq{
 text-align: center;

 
}
.cv{
    text-align: center;
}


